#fetchBooks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 14px;
    border: 2px solid #101010;
    padding: 40px 20px;
    margin: 40px 10px;
    color: #f0e9e9;    
    /* background-color: #e70f0f9c; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('https://source.unsplash.com/1600x1000/?books');
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card p {
    margin: 5px 0;
}
